@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input[type="date"] {
  outline:none;
  color-scheme:dark;
  margin:0;
  text-align: center;
  width:95px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  outline:none;
  color: rgb(255, 255, 255);
  opacity: 1;
  margin-left:0;
  margin-right:auto;
  color-scheme: dark;
}
button {
  outline:none
}
button:hover {
  
}
button:disabled {
  opacity:0.5
}
